$height: 120px;

.staff-card-scroll-view {
  width: 100%;
  height: $height;
  white-space: nowrap;
  border-bottom: 1px solid #E0E0E0;
}
.staff-card-container {
  width: 100%;
  height: $height;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;

  .staff-groups {
    max-width: 180px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
}

.operators {
  width: 300px;
  height: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #81D4FA;

  .active {
    background-color: #0288D1;
  }

  .warn {
    background-color: #E53935;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    color: white;
  }
}
