.staff-container {
  width: 100vw;
  height: 100vh;
  padding-top: 140px;
  font-size: 28px;

  .staff-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 140px;
    padding: 0 24px;
    background-color: #2196F3;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

    .icon {
      width: 48px;
      height: 48px;
    }

    .operator {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
    }

    .title {
      display: inline-block;
      width: 100px;
      text-align: center;
    }
  }
}
.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 220px;
}
