.team-container {
  padding-top: 100px;
}
.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 0 24px;
  position: fixed;
  background-color: #00897B;
  top: 0;
  left: 0;
  z-index: 2;

  .team-header-left {
    height: 100%;
    display: flex;
    align-items: center;

    .icon-btn {
      margin-right: 16px;
    }
  }

  .icon {
    width: 48px;
    height: 48px;
  }
}
.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 220px;
}
.team-list {
  width: 100vw;
  height: calc(100vh - 20px);
}
.team-item {
  width: 100%;
}