.page-container {
  width: 100vw;
  box-sizing: border-box;
  padding: 24px;
}
.title {
  font-weight: bold;
  font-size: 32px;
  color: black;
  margin-bottom: 16px;
}

.content {
  font-size: 28px;
  color: gray;
  margin-bottom: 32px;
}