.detail-container {
  padding-bottom: 160px;
}
.time-title {
  padding: 8px 24px;
}
.detail-btns {
  width: 100%;
  padding: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}