.page-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.empty-container {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-item {
  width: 100%;
  padding: 24px;
}
.header {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #0D47A1;
  padding: 0 24px;
}
.staff-group-list {
  width: 100%;
  padding: 24px 0;
}